@use 'sass:map';
@use '@angular/material' as mat;
@use "../tokens" as tokens;

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, "primary");

  [donna-flat-button], [donna-rounded-button], [donna-fab-button] {
    @include smallButtonShape();
    width: fit-content;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: tokens.$size-button-small-gap-default;
    background-color: mat.get-contrast-color-from-palette($primary-palette, 500);
    color: #90A4AE;
    cursor: pointer;
    font-weight: 500;
    font-family: tokens.$typography-button-small-font-family;
    line-height: tokens.$typography-button-small-line-height;

    &.selected, &:active {
      @include selectedState();
    }

    &:hover {
      @include hoverState();
    }

    &:focus {
      @include hoverState();
      outline: none;
    }

  }
  [donna-rounded-button] {
    border-radius: 100px;
  }
  [donna-fab-button] {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
  }
}


@mixin smallButtonShape() {
  padding: tokens.$size-button-small-padding-top-default tokens.$size-button-small-padding-right-default tokens.$size-button-small-padding-bottom-default tokens.$size-button-small-padding-left-default;
  //margin: tokens.$size-button-small-gap-default;
  border-radius: tokens.$radius-button-primary-small;
  border: none;
  font-family: tokens.$typography-button-small-font-family;
  font-weight: to-lower-case(tokens.$typography-button-small-font-weight);
  line-height: tokens.$typography-button-small-line-height;
  font-size: tokens.$typography-button-small-font-size;
  letter-spacing: tokens.$typography-button-small-letter-spacing;

  mat-icon {
    line-height: tokens.$typography-button-small-line-height * 2;

    svg {
      width: tokens.$sizing-icon-primary-small;
      height: tokens.$sizing-icon-primary-small;
    }
  }
}

@mixin selectedState() {
  background-color: #CED8DD;
  color: inherit;
  font-weight: 500;
}

@mixin hoverState() {
  color: #36393D;
  background-color: #90A4AE;
  font-weight: 500;

}

