@use 'sass:map';
@use "@angular/material" as mat;
@use "tokens" as tokens;
@use "palette" as palette;
@use 'button/button-theme' as button;
//mat.$theme-ignore-duplication-warnings: true;

@include mat.core();

$donna-palette: mat.define-palette(palette.$donna-palette);

$donna-dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $donna-palette,
        accent: $donna-palette,
        warn: $donna-palette,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ),
);

@include mat.all-component-typographies($donna-dark-theme);
@include mat.all-component-colors($donna-dark-theme);
@include button.theme($donna-dark-theme);
